# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# Environment variables
.env
.env.local
.env.production
.env.development
